body {
  width: 500px;
  margin: 0 auto;
}

.question {
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-top: 10px;
}

.question-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

/* hide text */
.question-text {
  display: none;
  border-top: 1px solid #ccc;
}

.show-text .question-text {
  display: block;
}

.minus-icon {
  display: none;
}

.show-text .minus-icon {
  display: inline;
}

.show-text .plus-icon {
  display: none;
}
