body {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
}

article {
  -webkit-box-shadow:10px 10px 10px 0px #d5d5d5 ;
  -moz-box-shadow:10px 10px 10px 0px #d5d5d5 ;
  box-shadow:10px 10px 10px 0px #d5d5d5 ;
  border: 1px solid #d5d5d5;
  padding: 20px;
  color: #474747;
}

#author {
  margin-bottom: 10px;
}

#person-img {
  border-radius: 50%;
}

#job {
  margin-top: 0px;
  text-transform: uppercase;
  color: #5fc9d5;
}

button {
  margin-top: 5px;
}
