.game-container {
  width: 500px;
  height: 730px;
  position: absolute;
}

.sky {
  background-color: #45C7DF;
  width: 500px;
  height: 580px;
  position: absolute;
}

.ground {
  background-color: #FDC287;
  width: 500px;
  height: 150px;
  position: absolute;
  top: 580px;
}

.bird {
  background-color: #FBBB11;
  width: 60px;
  height: 45px;
  position: absolute;
}

.obstacle {
  background-color: #47BC00;
  width: 60px;
  height: 300px;
  position: absolute;
}
